{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create an Account</title>
    <link rel="stylesheet" href="{% static 'login_app/custom.css' %}" />
  </head>
  {% block content %}
  <body>
    <h1 class="header">CREATE AN ACCOUNT</h1>
    <form method="POST" class="form">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-control">
      {{field}}
      {% endfor %}
      <div>
      <input type="submit" class="btn">
  </body>
  {% endblock %}
</html>
