{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create an Account</title>
    <link rel="stylesheet" href="{% static 'login_app/custom.css' %}" />
  </head>
  {% block content %}
  <body class="outside">
    <h1 class="title title2">CREATE AN ACCOUNT</h1>
    <form method="POST" class="form">
      {% csrf_token %} {% for field in form %}
      <div class="form_field">{{field}} {% endfor %}</div>
      <div class="form_field">
        <input type="submit" class="btn" />
      </div>
    </form>
    {{form.errors}}
    <div class="login_link">
      <a href="{% url 'login:home' %}">Back to Login</a>
    </div>
  </body>
  {% endblock %}
</html>
