{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Username Done</title>
    <link rel="stylesheet" href="{% static 'login_app/custom.css' %}"/>
  </head>
  <body class="outside">
    {% block content %}
    <h1 class="title2 title">Forgot Username</h1>
    <p class="title2 header">
      Your username information has been sent to your email if
      it is active. Please check your inbox shortly!
    </p>
    <a href="{% url 'login:home' %}"></a>

    {% endblock %}
  </body>
</html>