{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Username Done</title>
  </head>
  <body>
    {% block content %}
    <h1>Forgot Username Sent</h1>
    <p>
      Your username information has been sent to your email if
      it is active. Please check your inbox shortly!
    </p>
    <a href="{% url 'login:home' %}"></a>
    {% endblock %}
  </body>
</html>