{% extends 'login_app/base.html' %}
{% load static %}

{% block content %}

<body class="outside">
    <h1 class="title-home">Welcome, {{ user.username|title }}!</h1>
        <h3 class="title-home-subtitle">Please select one of the options below!</h3>

<div class="card-container">
    <div class="card">
        <h1 class="card-title">Scouting Reports</h1>
        <div class="card-image"><img src="{% static 'login_app/espionage.svg' %}">
        </div>
        <h4 class="card-description">description</h4>
        <div class="card-button">
            <a class="card-button" href="{% url 'login:scouting_options' %}">Go to Scouting Reports
            </a>
        </div>
    </div>
    <div class="card">
        <h1 class="card-title">Build Summaries</h1>
        <div ><img class="card-image">
        </div>
        <h4 class="card-description">description</h4>
        <div class="card-button">
            <a class="card-button" href="{% url 'login:build_options' %}">Go to Build Summaries
            </a>
        </div>
    </div>
</div>
</body>

{% endblock %}