{% extends 'login_app/base.html' %}
{% load static %}

{% block content %}

<body class="outside">
    <h1 class="title-home">Welcome, {{ user.username|title }}!</h1>
        <h3 class="title-home-subtitle">Please select one of the options below!</h3>

<div class="card-container">
    <div class="card">
        <h1 class="card-title">Scouting Reports</h1>
        <div><img class="card-image">
        </div>
        <h4 class="card-description">description</h4>
        <button class="card-button">
            <a href="">Go to Scouting
            </a>
        </button>
    </div>
    <div class="card">
        <h1 class="card-title">Build Summaries</h1>
        <div><img class="card-image">
        </div>
        <h4 class="card-description">description</h4>
        <button class="card-button">
            <a href="">Go to Build Summaries
            </a>
        </button>
    </div>
</div>
<div class="card-container">
    <div class="card">
        <h1 class="card-title">Scouting Reports</h1>
        <div><img class="card-image">
        </div>
        <h4 class="card-description">description</h4>
        <button class="card-button">
            <a href="">Go to Scouting
            </a>
        </button>
    </div>
    <div class="card">
        <h1 class="card-title">Build Summaries</h1>
        <div><img class="card-image">
        </div>
        <h4 class="card-description">description</h4>
        <button class="card-button">
            <a href="">Go to Build Summaries
            </a>
        </button>
    </div>
</div>
</body>

{% endblock %}