{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'login_app/custom.css' %}" />
  </head>
  {% block content %}
  <body class="outside">
    <div class="header">
      <img
        src="{% static 'login_app/pine_crest_school.jpg' %}"
        alt="'pine crest schoo logo"
        class="img"
      />
    </div>
    <h1 class="title">ROBOTICS</h1>
    <div class="form">
      <form method="POST">
        <div class="form_field">{% csrf_token %} {{form.username}}</div>
        <div class="forgot">
          <a href="">Forgot Username?</a>
        </div>
        <div class="form_field">{{form.password1}}</div>
        <div class="forgot">
          <a href="">Forgot Password?</a>
        </div>
        <div class="form_field">
          <input type="submit" class="btn" />
        </div>
      </form>
      <div>
        <a href="{% url 'login:create' %}">Create an account</a>
      </div>
    </div>
  </body>
  {% endblock %}
</html>
