{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset Done</title>
  </head>
  <body>
    {% block content %}
    <h1>Password Reset Form Sent</h1>
    <p>
      Instructions for resetting your password have been sent to your email if
      it is active. Please check your inbox shortly!
    </p>
    <a href="{% url 'login:home' %}"></a>
    {% endblock %}
  </body>
</html>
