{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Passwordt</title>
  </head>
  <body>
    {% block content %}
    <h1>Forgot Password?</h1>
    <form method="POST" class="form">
        {% csrf_token %} {% for field in form %}
        <div class="form_field">{{field}}</div>{% endfor %}
         
        {% endblock %}
  </body>
</html>
