{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset Page</title>
  </head>
  <body class="recovery-template outside">
    {% block content %} {% if validlink %}
    <div class="title2">
    <h1 class="title">RESET YOUR PASSWORD</h1>
    </div>
    <div class="form">
      <form method="POST">
        <div class="form_field">
        {% csrf_token %} {{form.as_p}}
        </div>
         <input type="submit" value="Change my password" />
      </form>
    {% else %}
    <p class="header">
      The password reset link was invalid, possibly because it has already been
      used. Please request a new password reset.
    </p>

    {% endif %} {% endblock %}
  </body>
</html>
