.outside {
  border: 5px solid #004712;
}

.img {
  max-width: 70%;
  height: auto;
}

.header {
  text-align: center;
  color: #004712;
  font-family: Proxima Nova;
  font-size: large;
  margin-bottom: 0;
}

.title {
  text-align: center;
  margin-top: 0;
  color: #004712;
}

.btn {
  background-color: #004712; /* Green */
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  width: 40vw;
  height: 5vh;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

#id_username {
  width: 40vw;
  height: 5vh;
  margin: 5px;
}

#id_password {
  width: 40vw;
  height: 5vh;
  margin: 5px;
}
