.login-template input {
    height: 100%
}

.login-template a {
    color: #00bc2f;
}

.login-form-fields {
    background-color: #004712; /* Green */
    border: none;
    color: white;
    font-size: 20px;
    width: 40vw;
    padding: 8px;
    margin-bottom: 0;
    border-radius: 3px;
}
